<div class="live-code-layout">
	<div class="example-container">
		<div>
			<slot name="example" />
		</div>
	</div>
	<slot name="code" />
</div>

<style>
	.live-code-layout {
		display: flex;
		flex-direction: column;
	}

	.example-container {
		height: 450px;
		overflow-y: scroll;
		overflow-x: hidden;
		padding: 2.5rem;
		background-color: var(--astro-code-color-background);
	}
</style>
