---
import { twMerge } from 'tailwind-merge';
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'td'> {
	className?: string;
}

const props = Astro.props;

const { className, ...otherProps } = props;
---

<td
	class={twMerge(
		'py-3 align-baseline [&:has([role=checkbox])]:pr-0 [&>[role=checkbox]]:translate-y-[2px]',
		className
	)}
	{...otherProps}
>
	<slot />
</td>
